SPOTIFY_CLIENT_ID=73bc6779890243ae9c4bed89800d6214
SPOTIFY_CLIENT_SECRET=0864880a9d5446c39c6421f84c409bfb
SPOTIFY_REFRESH_TOKEN=AQAlXbQKVznQ_KexhMqKXcqViamT8i6Le5uWt_FTdqkpR3koEaV7PHklGV_lOenzdmnfJ3vb9nvwtW_r3sLzdLP8t51v1UlGERHzG1-iB6Hef6QccAiJQD9_afZ6bEenNMY

curl -H "Authorization: Basic NzNiYzY3Nzk4OTAyNDNhZTljNGJlZDg5ODAwZDYyMTQ6MDg2NDg4MGE5ZDU0NDZjMzljNjQyMWY4NGM0MDliZmI=" -d grant_type=authorization_code -d code=AQAyh6s4Rs5WrCO_5vshY7W0KoaHcKd33rMubV7FltiKXIflp1llEyqT4zPJNlpmfC_qpTBddrARG4xurvXoszX-Q-iWfwjhRdRWKY0FV9nH611x1U_nMVE0EDqpH87VLAJnc7jkxguIxS77TGpFqz1ON6myPx6C7lCsVSPrQucNPiKNuCJeq7f7nC24jG4k1HVQ5b-x8OauweL9gy9xwTXhot0mAmUmKxGi4J8a1f21dQvHulYru3wJ_gHkPElTvpGeMwuiuE08rMCmhLpOHyvzSYqntk_67Sp8oxWPGy0BD7WJgpN7k31mMEFHAxkyt3QhJ5tbIgfWwlaDsas0Dsua7m1zlivARrY6_U0FSQ -d redirect_uri=http%3A%2F%2Flocalhost:3000 https://accounts.spotify.com/api/token