.cardsRow {
    header {
        margin-bottom: 1rem;
        position: relative;

        p {
            margin-top: .375rem;
            font-size: .75rem;
            font-weight: 600;
            color: var(--gray-100);
        }

        a {
            color: var(--gray-500);
            font-size: .75rem;
            font-weight: 600;

            position: absolute;
            right: 1rem;
            bottom: 0;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .row {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto;
        gap: 1.5rem;
        margin-bottom: 2rem;
    }
}