.card {
    padding: 1rem;
    border-radius: 5px;
    background: var(--gray-10);
    transition: background .2s;
    cursor: pointer;

    &:hover {
        background: var(--gray-20);

        .playIcon {
            opacity: .9;
            transform: translateY(0);
        }
    }

    .playIcon {
        height: fit-content;
        padding: .5rem;
        border-radius: 50%;
        background: var(--green);
        box-shadow: 0 8px 24px rgb(0 0 0);
        opacity: 0;

        transform: translateY(10px);
        transition-property: transform, opacity;
        transition-duration: .3s;

        display: flex;
        position: absolute;
        bottom: .5rem;
        right: .5rem;

        &:hover {
            transform: scale(1.1);
        }

        svg {
            width: 1.25rem;
            height: 1.25rem;
        }
    }

    .img {
        width: 100%;
        background: var(--gray-30);
        box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
        margin-bottom: 1.5rem;
        position: relative;

        img {
            width: 50%;
            margin: 25%;
        }
    }

    strong {
        font-size: .875rem;
    }

    p {
        margin-top: .5rem;
        font-size: .75rem;
        font-weight: 600;
        color: var(--gray-100);
    }
}