.track {
    color: var(--gray-200);
    border-radius: 5px;
    transition-property: color, background;
    transition-duration: .2s;
    display: grid;
    grid-template-columns: .75fr 6fr 6fr 3fr;

    &:hover {
        background: rgba(68, 68, 68, 0.45);

        .album, p {
            color: var(--white)
        }

        .position {
            display: none;
        }

        .play {
            display: flex;
        }
    }

    .play {
        height: 12px;
        margin: auto 0;
        border-color: transparent transparent transparent var(--white);
        border-width: 7px 0 7px 7px;
        border-style: solid;
        transition: all .2s;
        display: none;

        &.pause {
            border-style: double;
            border-width: 0 0 0 8px;
        }
    }

    span, button {
        display: flex;
        align-items: center;

        &.position {
            font-weight: 600;
        }

        img {
            width: 2.5rem;
            height: 2.5rem;
            margin-right: 1rem;
        }

        div {
            height: 100%;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
        }

        strong {
            font-size: .875rem;
            color: var(--white);
            display: block;
        }   
    }

    &.nowPlaying {
        span strong {
            color: var(--green);
        }
    }
}