.searchInput {
    width: 23rem;
    padding: 0 .5rem;
    margin-top: -.25rem;
    margin-left: 1rem;
    border: none;
    border-radius: 25px;
    background: var(--white);

    overflow-y: hidden;
    display: flex;
    align-items: center;

    svg {
        background: none;
        color: var(--gray-20);

        &.searchIcon {
            margin: .25rem .375rem .25rem 0;
            cursor: default;
        }
    }
    
    button {
        margin: .25rem 0 .25rem .375rem;

        svg {
            transition: color .2s;
        }

        &:hover svg {
            color: var(--gray-50);
        }
    }
    
    input {
        flex: 1;
        height: 100%;
        border: none;

        &:focus {
            outline: none;
        }
    }
}