.container {
    width: 1170px;
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    
    ul {
        display: flex;
    
        li {
            display: flex;
            align-items: center;
            justify-content: center;

            &.divide {
                margin: 0 1rem;
                cursor: default;
            }

            a {
                padding: .5rem 1rem;
                font-weight: 600;
                transition: color, .2s;

                &:hover {
                    color: var(--green);
                }
            }
        }
    }
}