:root {
  --white: #fff;
  --black: #000;
  --green: #1ed760;
  --blue: #2d46b9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--white);
  background: var(--black);
  font: 1rem 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

#nprogress {
  position: relative;
  z-index: 999;
}

#nprogress .bar {
  background: var(--green);
  height: 3px;
}