:root {
  --black: #000000;
  --gray-5: #121212;
  --gray-10: #181818;
  --gray-20: #222326;
  --gray-28: #282828;
  --gray-30: #333333;
  --gray-50: #535353;
  --gray-100: #919496;
  --gray-200: #bdbdbd;
  --gray-500: #dddddd;
  --white: #ffffff;
  --green: #1ed760;
  --blue: #2d46b9;
  --ice: #9bf0e1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--white);
  background: var(--black);
  font: 1rem 'Montserrat', sans-serif;
}

button, a {
  border: none;
  color: inherit;
  font: inherit;
  background: none;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

.toaster {
  background: var(--gray-50) !important;
  color: var(--gray-500) !important;
  margin-top: -.625rem;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--gray-50);
  transition: .2s;
}

::-webkit-scrollbar-thumb:active {
  background: var(--gray-100);
}

#nprogress {
  position: relative;
  z-index: 999;
}

#nprogress .bar {
  background: var(--green);
  height: 3px;
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--green), 0 0 5px var(--green);
}

.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.loader {
  display: block;
  z-index: 1031;

  width: 64px;
  height: 64px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: var(--green);
  border-left-color: var(--green);
  border-radius: 50%;

  -webkit-animation: load 400ms linear infinite;
          animation: load 400ms linear infinite;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* responsive fonts */
@media(max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media(max-width: 768px) {
    html {
        font-size: 87.5%;
    }
}