.container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;

  .landingSection {
    width: 100%;
    padding: 4.5rem calc((100vw - 1170px) / 2);
    color: var(--blue);
    background: var(--ice);
    display: flex;
    justify-content: space-between;

    &.blue {
        background: var(--blue) right no-repeat;
        background-image: url('/circles-bg.svg');
        color: var(--green);

        div {
            margin-bottom: 3rem;

            a {
                color: var(--blue);
                background: var(--green);
            }
        }
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        span {
            font-size: .875rem;
            font-weight: 700;
            letter-spacing: 2px;
        }

        h1 {
            font-size: 3.75rem;
        }

        p {
            font-size: 1.5rem;
            line-height: 1.5;
        }

        a {
            width: fit-content;
            padding: 1rem 3rem;
            color: var(--white);
            background: var(--blue);
            border-radius: 25px;

            font-size: .875rem;
            font-weight: 700;
            letter-spacing: 2px;
            transition-property: transform, filter;
            transition-duration: .2s;

            &:hover {
                filter: brightness(1.2);
                transform: scale(1.05);
            }
        }
    }
    
    img, .placeholder {
        width: 400px;
        height: 400px;
        margin-left: 5rem;
    }
  }
}

.contentContainer {
  width: 100%;
  height: calc(100vh - (2rem + 56px));
  background: linear-gradient(0deg, var(--gray-5), var(--gray-20));
  display: flex;
  
  main {
    flex: 1;

    .rowsContainer {
        padding: 1.5rem 2rem;
    }
  }
}