.container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contentContainer {
  width: 100%;
  height: calc(100vh - (2rem + 56px));
  background: linear-gradient(0deg, var(--gray-5), var(--gray-20));
  display: flex;
}

.contentContainer main {
  flex: 1;
}