.playlistContainer {
    header {
        background: linear-gradient(rgb(240, 144, 184),rgba(255, 144, 185, 0.45) 100%);
        box-shadow: 0 8px 200px 80px rgba(255, 144, 185, 0.45);
        padding: 5.5rem 2rem 1.5rem;
        display: flex;

        img {
            width: 14.5rem;
            box-shadow: 0 4px 60px rgb(0 0 0 / 50%);
        }

        div {
            margin-left: 1.5rem;
            flex: 1;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            
            h1 {
                font-size: 5rem;
            }

            p {
                margin: 1rem 0;
            }

            p, span, strong {
                font-size: .75rem;
                color: var(--gray-500);
            }

            strong {
                color: var(--white);
            }
        }
    }

    section {
        padding: 2rem;

        .sectionHeader {
            margin-bottom: 2rem;
            display: flex;
            align-items: center;

            button:first-child {
                width: 3.5rem;
                height: 3.5rem;
                margin-right: 2rem;
                box-shadow: none;
            }

            button:last-child {
                margin-left: 1.5rem;
            }
            
            button svg {
                width: 2rem;
                height: 2rem;
            }

            button:not(:first-child) svg {
                color: var(--gray-200);
                transition: color .2s;

                &:hover {
                    color: var(--white);
                }
            }
        }

        .playlist {
            font-size: .75rem;
            color: var(--gray-200);

            .playlistHeader, ul li {
                padding: .5rem 2.5rem .5rem 1rem;
                display: grid;
                grid-template-columns: .375fr 8fr 5fr 4fr 2fr;

                span:last-child {
                    margin: auto 0;
                    display: initial;
                    text-align: right;
                }
            }

            .playlistHeader {
                margin-bottom: 1rem;
                border-bottom: 1px solid var(--gray-50);
        
                svg {
                    width: 1.125rem;
                    height: 1.125rem;
                }
            }
        
            ul li {
                border-radius: 5px;
                transition-property: color, background;
                transition-duration: .2s;
        
                &:hover {
                    background: rgba(68, 68, 68, 0.45);

                    .album, p {
                        color: var(--white)
                    }

                    .position {
                        display: none;
                    }

                    .play {
                        display: flex;
                    }
                }

                .play {
                    height: 0;
                    margin: auto 0;
                    border-bottom: 7px solid transparent;
                    border-top: 7px solid transparent;
                    border-left: 7px solid var(--white);
                    transition: border .2s;
                    display: none;
                }
            
                span {
                    display: flex;
                    align-items: center;

                    &.position {
                        font-weight: 600;
                    }
    
                    img {
                        width: 2.5rem;
                        height: 2.5rem;
                        margin-right: 1rem;
                    }
            
                    strong {
                        font-size: .875rem;
                        color: var(--white);
                        display: block;
                    }   
                }
            }
        }
    }
}