.sectionRow {
    header {
        margin-bottom: 1rem;

        p {
            margin-top: .375rem;
            font-size: .75rem;
            font-weight: 600;
            color: var(--gray-100);
        }
    }

    .row {
        display: grid;
        grid-template-rows: 1fr;
        margin-bottom: 2rem;

        .card {
            padding: 1rem;
            background: var(--gray-10);

            .img {
                width: 100%;
                background: var(--gray-20);
                margin-bottom: 1rem;
            }

            p {
                margin-top: .25rem;
                font-size: .75rem;
                font-weight: 600;
                color: var(--gray-100);
            }
        }
    }
}