.container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contentContainer {
  width: 100%;
  height: calc(100vh - (2rem + 56px));
  background: linear-gradient(to top, #121212, #121212, #131313, #181818, #222222);
  display: flex;
  overflow-y: hidden;
  
  main {
    flex: 1;
    position: relative;
    overflow-y: auto;
  }
}