.player {
    width: 100%;
    padding: 1rem;
    background: var(--gray-10);
    border-top: 1px solid var(--gray-20);

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;

    .song, .volume {
        width: 25%;
    }

    .song {
        display: flex;
        align-items: center;

        .info {
            display: inline-block;
            margin-left: 1rem;

            p {
                display: block;
                font-size: .875rem;
            }

            span {
                color: var(--gray-100);
                font-size: .75rem;
            }
        }
    }

    .controls {
        width: 700px;

        .buttons {
            width: 25%;
            margin: -.5rem auto .5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                font-size: 0;

                &:disabled svg {
                    color: var(--gray-50);
                    cursor: not-allowed;
                }
    
                &:not(:disabled) svg:hover {
                    color: var(--white);
                }
                
                svg {
                    width: 1rem;
                    height: 1rem;
                    color: var(--gray-100);
                    transition: color .2s;
                }
        
                .skipButton {
                    width: 1.5rem;
                    height: 1.5rem;
                }
        
                .playButton {
                    width: 2.5rem;
                    height: 2.5rem;
                    color: var(--white);
                    transition: transform .2s;
    
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
        
        .progressBar {
            display: flex;
            justify-content: center;

            span {
                width: 2.25rem;
                color: var(--gray-100);
                font-size: .75rem;

                &:last-child {
                    text-align: right;
                }
            }

            #slider {
                margin: 0 1rem;
                flex: 1;
            }
        }
    }

    .volume {
        margin-right: 1rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        svg {
            margin-right: 1rem;
            cursor: pointer;
        }

        & > div {
            width: 100px;
        }
    }
}